CompileFlags:
  Add:
    - -std=c++17
    - -DQT_WIDGETS_LIB
    - -DQT_GUI_LIB
    - -DQT_CORE_LIB
    - -DQT_NETWORK_LIB
  Remove:
    - -fPIE
    - -pie

Diagnostics:
  ClangTidy:
    Add:
      - readability-*
      - performance-*
      - modernize-*
    Remove:
      - readability-magic-numbers
      - readability-identifier-length
  UnusedIncludes: Strict
  MissingIncludes: Strict

Index:
  Background: Build
